#Section1 {
    background-color: rgb(245, 240, 230);
    margin-top: 80px;
    display: inline-block;
    width: 100%;
    scroll-margin-top: 80px;
}

h2 {
    font-size: 28px;
    padding: 20px;
}

p {
    font-size: 28px;
    padding: 20px;
}

img {
    max-width: 100%;
}

#Section2 {
    background-image: url("bg-orbs-1.jpg");
    color: white;
    display: inline-block;
    width: 100%;
    scroll-margin-top: 170px;
}

#Section3 {
    display: inline-block;
    width: 100%;
    scroll-margin-top: 170px;
}

menu {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding-left: 20px;
    padding-top: 20px;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    font-size: 28px;
    font-weight: bold;
    color: #182b49;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #182b49;
    color: white;
}

.grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
  }

  .one {
    grid-column: 1;
    grid-row: 1;
    color: white;
    background-color: #182b49;
    text-align: center;
    overflow: auto;
    max-height: 500px;
  }

  .two {
    grid-column: 2;
    grid-row: 1;
    color: white;
    background-color: #182b49;
    text-align: center;
    overflow: auto;
    max-height: 500px;
  }

  .three {
    grid-column: 3;
    grid-row: 1;
    color: white;
    background-color: #182b49;
    text-align: center;
    overflow: auto;
    max-height: 500px;
  }

  .four {
    grid-column: 4;
    grid-row: 1;
    color: white;
    background-color: #182b49;
    text-align: center;
    overflow: auto;
    max-height: 500px;
  }

  @media screen and (max-width: 800px) {
    .anchorlink {
        display: none;
    }
    
    #Section1 {
        background-color: rgb(245, 240, 230);
        margin-top: 170px;
        display: inline-block;
        width: 100%;
        margin-top: 0px;
    }

    #logo {
        max-width: 75%;
    }

    h2 {
        font-size: 24px;
        padding: 20px;
    }
    
    p {
        font-size: 20px;
        padding: 20px;
    }

    .grid {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
    }

    .one {
        grid-column: 1;
        grid-row: 1;
        color: white;
        background-color: #182b49;
        text-align: center;
        overflow: auto;
        max-height: 500px;
    }
    
    .two {
        grid-column: 2;
        grid-row: 1;
        color: white;
        background-color: #182b49;
        text-align: center;
        overflow: auto;
        max-height: 500px;
    }
    
    .three {
        grid-column: 1;
        grid-row: 2;
        color: white;
        background-color: #182b49;
        text-align: center;
        overflow: auto;
        max-height: 500px;
    }
    
    .four {
        grid-column: 2;
        grid-row: 2;
        color: white;
        background-color: #182b49;
        text-align: center;
        overflow: auto;
        max-height: 500px;
    }
  }